@using otelotomasyonu.Models
@model otelotomasyonu.Controllers.OdalarController.Oda_Class
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function kontrol() {
            if (document.getElementById('giris').value != "" || document.getElementById('cikis').value != "") {
                
                window.location = "Index?giris=" + document.getElementById('giris').value + "&cikis=" + document.getElementById('cikis').value;
            }
            else
                window.alert("Boş değer girmeyiniz.")
            
        }
        function VeriGonder(oda)
        {
            if (document.getElementById('giris').value != "" || document.getElementById('cikis').value != "") {
                
                window.location = "Kayit?giris=" + document.getElementById('giris').value + "&cikis=" + document.getElementById('cikis').value +"&oda="+oda;
            }
        }
    </script>
    <meta charset="utf-8">
    <title>Oda Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <span class="form-label">Giriş Tarihi</span>
                    <input class="form-control" name="giris" id="giris" type="date" value=@if (Request.QueryString["giris"] != null) { Write(Request.QueryString["giris"]); } onselect="" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <span class="form-label">Çıkış Tarihi</span>
                    <input class="form-control" name="cikis" id="cikis" type="date" value=@if (Request.QueryString["giris"] != null) { Write(Request.QueryString["cikis"]); } required>
                </div>
            </div>
            <div class="widget-49-meeting-action">
                <a onclick="kontrol()" name="Kayit" class="btn btn-sm btn-flash-border-primary">Tarihe göre getir</a>
            </div>
            @foreach (var item in ((otelotomasyonu.Controllers.OdalarController.Oda_Class)Model).oda_bilgileri)
            {
                Boolean dolu = false;
                if (Request.QueryString["giris"] != null || Request.QueryString["cikis"] != null)
                {
                    
                    foreach (var item2 in ((otelotomasyonu.Controllers.OdalarController.Oda_Class)Model).oda_rezervasyon)
                    {
                        if (item2.kayit_oda_id == item.oda_id && item2.kayit_gecerlilik==true)
                        {
                            if (item2.kayit_cikis_tarih >= Convert.ToDateTime(Request.QueryString["giris"]))
                            {
                                dolu = true;
                                break;
                            }
                        }

                    }
                }
                if(!dolu)
                {
                <div class="col-lg-4">
                    <div class="card card-margin">
                        <div class="card-header no-border">
                            <h5 class="card-title">@if (item.oda_tip == 1) { Write("Tek Kişilik"); } else if (item.oda_tip == 2) { Write("İki Kişilik"); } else if (item.oda_tip == 3) { Write("Üç Kişilik"); }</h5>
                        </div>
                        <div class="card-body pt-0">
                            <div class="widget-49">
                                <div class="widget-49-title-wrapper">
                                    <div id="tip" class=@if (item.oda_durum == true) { Write("widget-49-date-success"); } @if (item.oda_durum == false) { Write("widget-49-date-danger"); }>

                                        <span class="widget-49-date-day">@item.oda_id</span>
                                        <span class="widget-49-date-month">Oda</span>
                                    </div>
                                    <div class="widget-49-meeting-info">
                                        <span class="widget-49-pro-title">@if (item.oda_ozellik == 1) { Write("Kahvaltı ve Yemeksiz Oda"); } else if (item.oda_ozellik == 3) { Write("Kahvaltılı Oda"); } else if (item.oda_ozellik == 5) { Write("Kahvaltı ve Yemekli Oda"); }</span>
                                        <span class="widget-49-meeting-time">Odanın Günlük Fiyatı:@item.oda_ucret ₺</span>
                                    </div>
                                </div>
                                <ol class="widget-49-meeting-points">
                                    <li class="widget-49-meeting-item"><span>@if (item.oda_ozellik == 1) { Write("Akşam yemeği ve Sabah kahvaltı yok."); } else if (item.oda_ozellik == 3) { Write("Sabah kahvaltısı Dahil."); } else if (item.oda_ozellik == 5) { Write("Sabah ve Akşam Yemeği Dahil."); }</span></li>
                                    <li class="widget-49-meeting-item"><span>@if (item.oda_ozellik == 1) { Write("Sauna hakkı yok."); } else if (item.oda_ozellik == 3) { Write("Haftada 1 Kez Ucretsiz sauna."); } else if (item.oda_ozellik == 5) { Write("Her gün Ücretsiz sauna."); }</span></li>
                                    <li class="widget-49-meeting-item"><span>@if (item.oda_ozellik == 1) { Write("Günde 5 saat ücretsiz otopark"); } else if (item.oda_ozellik == 3) { Write("Günde 8 saat ücretsiz otopark"); } else if (item.oda_ozellik == 5) { Write("Sınırsız Ücretsiz otopark"); }</span></li>
                                </ol>
                                <div class="widget-49-meeting-action">
                                    <a  onclick="VeriGonder(@item.oda_id)" name="Kayit" class="btn btn-sm btn-flash-border-primary">Rezervasyon/Kayit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                dolu = false;
            }



        </div>
    </div>


    <style type="text/css">
        body {
            background: #F4F7FD;
            
        }

        .card-margin {
            margin-bottom: 1.875rem;
        }

        .card {
            border: 0;
            box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
            -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #ffffff;
            background-clip: border-box;
            border: 1px solid #e6e4e9;
            border-radius: 8px;
        }

            .card .card-header.no-border {
                border: 0;
            }

            .card .card-header {
                background: none;
                padding: 0 0.9375rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                min-height: 50px;
            }

        .card-header:first-child {
            border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
        }

        .widget-49 .widget-49-title-wrapper {
            display: flex;
            align-items: center;
        }

            .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #edf1fc;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
                    color: #4e73e5;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
                    color: #4e73e5;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #fcfcfd;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
                    color: #dde1e9;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
                    color: #dde1e9;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-success {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #e8faf8;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
                    color: #17d1bd;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
                    color: #17d1bd;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-info {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #ebf7ff;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
                    color: #36afff;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
                    color: #36afff;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: floralwhite;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
                    color: #FFC868;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
                    color: #FFC868;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #feeeef;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
                    color: #F95062;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
                    color: #F95062;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-light {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #fefeff;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
                    color: #f7f9fa;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
                    color: #f7f9fa;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #ebedee;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
                    color: #394856;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
                    color: #394856;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-date-base {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #f0fafb;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
                    color: #68CBD7;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
                    color: #68CBD7;
                    line-height: 1;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

            .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
            }

                .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
                    color: #3c4142;
                    font-size: 14px;
                }

                .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
                    color: #B1BAC5;
                    font-size: 13px;
                }

        .widget-49 .widget-49-meeting-points {
            font-weight: 400;
            font-size: 13px;
            margin-top: .5rem;
        }

            .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
                display: list-item;
                color: #727686;
            }

                .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
                    margin-left: .5rem;
                }

        .widget-49 .widget-49-meeting-action {
            text-align: right;
        }

            .widget-49 .widget-49-meeting-action a {
                text-transform: uppercase;
            }
    </style>

    <script type="text/javascript">

    </script>
</body>
</html>

