
@{
    ViewBag.Title = "Index";
}
<title>Ev</title>
<div class="container">
    <div class="jumbotron">
            @Session["k_ad"] Hoşgeldiniz.
            <p>Berktuğ Denk tarafından yapılmıştır.</p>

    </div>

</div>

